@tailwind base;
@tailwind components;
@tailwind utilities;

html, body{
  margin:auto ;
padding: 0%;
}
.login_left_image{
  background-image: url("./assets/LoginLeftImage.webp");
  background-position: 0%;
  background-repeat: no-repeat;
  background-size: cover;
}
.MuiDrawer-root{
  z-index:1300;
}